<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="All Tests" parallel="tests" thread-count="5">

        <groups>
            <run>
                <include name="SmokeTest"/>
                <include name="Regression"/>
            </run>
        </groups>


        <classes>
            <class name="tests.restAPI.RestAssuredAPITest"/>
            <class name="tests.UI.tests.ChoosePlaylistTest"/>
            <class name="tests.UI.tests.CreatePlaylistTest"/>
            <class name="tests.UI.tests.SearchProductTest"/>
            <class name="tests.UI.tests.SwitchLanguageTest"/>


        </classes>
    </test>
</suite>







        <!--<test name="All Tests" parallel="tests" thread-count="5">-->
<!--<suite name="All Test b Suite">-->
<!--    <test verbose="2" preserve-order="true" name="C:/Users/Edward/IdeaProjects/selenium-java-allure-docker-jenkins">-->


<!--    <test name="Smoke Test" >-->
<!--        <classes>-->
<!--            <class name="tests.restAPI.RestAssuredAPITest"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Regression Test">-->
<!--        <classes>-->
<!--            <class name="tests.UI.tests.ChoosePlaylistTest"/>-->
<!--            <class name="tests.UI.tests.CreatePlaylistTest"/>-->
<!--            <class name="tests.UI.tests.SearchProductTest"/>-->
<!--            <class name="tests.UI.tests.SwitchLanguageTest"/>-->

<!--        </classes>-->
<!--    </test>-->






    

